In [6]:
import pandas as pd
from pathlib import Path

In [14]:
# Create function to check if the values in a column of a table are unique.
# If the values are unique, the column can be used as a primary key in SQL.

def column_unique(column):
    if column.nunique() == column.count():
        print("The column values are unique")
    else:
        print("The column values are NOT unique")

In [8]:
# Load in file
# Store filepath in a variable
employee_file = Path("employees.csv")

# Read and display the CSV with Pandas
employee_df = pd.read_csv(employee_file)
employee_df.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001   7/25/1953    Hideyuki   Zallocco   M   4/28/1990
1  475053        e0002  11/18/1954       Byong  Delgrande   F    9/7/1991
2   57444        e0002   1/30/1958       Berry       Babb   F   3/21/1992
3  421786        s0001   9/28/1957       Xiong   Verhoeff   M  11/26/1987
4  282238        e0003  10/28/1952  Abdelkader    Baumann   F   1/18/1991

In [9]:
# Verify that values in column "emp_no" are unique and can be used as primary key in data modeling 
# Also verifying the function 'column_unique()' is working correctly.
employee_df['emp_no'].nunique()

300024

In [10]:
employee_df['emp_no'].count()

300024

In [15]:
column_unique(employee_df['emp_no'])

The column values are unique

In [3]:
# since the count of "emp_no" and the number of unique values of "emp_no" are the same,
# "emp_no" can be used as the primary key of the employee table
# check that the emp_no in the salary.csv file is also unique and can be used as the primary key
salaries_file = Path("salaries.csv")
salaries_df = pd.read_csv(salaries_file)
salaries_df.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [16]:
column_unique(salaries_df['emp_no'])

The column values are unique

In [17]:
# Check "dept_no" column of the departments.csv
departments_df = pd.read_csv(Path("departments.csv"))
column_unique(departments_df['dept_no'])

The column values are unique

In [18]:
# Check "emp_no" in dept_emp.csv
dept_emp_df = pd.read_csv(Path("dept_emp.csv"))
column_unique(dept_emp_df['emp_no'])

The column values are NOT unique

The 'dept_emp' table will need a composite key.

In [19]:
# Check "emp_no" in dept_manager.csv
dept_manager_df = pd.read_csv(Path("dept_manager.csv"))
column_unique(dept_manager_df['emp_no'])

The column values are unique

In [20]:
# Check "title_id" in titles.csv
titles_df = pd.read_csv(Path("titles.csv"))
column_unique(titles_df['title_id'])

The column values are unique